
.icon-laptop:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */